.container {
		display: flex;
    justify-content: center;
    flex-direction: column;

    .MuiTableCell-head {
      color: rgba(0, 0, 0, 0.87);
      font-weight: 500;
      line-height: 1.5rem;
      background-color: #eaeaea !important;
    }
    
    .MuiTypography-h6 {
      font-size: 1.25rem;
      font-family: var(--body-font);
      font-weight: 600;
      line-height: 1.6;
      letter-spacing: 0.0075em;
      color: var(--first-color);
    }
    .MuiIconButton-colorPrimary {
      color: var(--first-color);
  }

    .listHeader {
      display: flex;
      justify-content: space-between;
      padding: 10px 0 10px 0;

      .listTitle {
        font-size: 1.5rem;
        text-transform: uppercase;
      }

      .button {
        font-family: var(--body-font);
        font-size: 0.8rem;
        font-weight: 600;
        letter-spacing: -0.1;
        line-height: 1rem;
        text-align: center;
        width: 8rem;
        height: 2rem;
        border-width: 0;
        border-style: none;
        border-image: none;
        border-radius: 0.4rem;
        border-color: transparent;
        outline-style: none;
        align-items: center;
        background-color: #58555e;
        color: #ffffff;
  
        &:hover {
          background-color: var(--first-color);
          box-shadow: 0 0.1rem 1.25rem 0 var(--first-color);;
          color: #ffffff;
        }
      }
    }

  }