.SelectOptions {
  text-align: left;
  user-select: none;
  position: absolute;
  left: 0;
  margin-top: 5px;
  border: none;
  border-radius: 4px;
  padding: 5px 0;
  list-style: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  overflow-x: hidden;
  overflow-y: auto;
  width: calc(100% - 1px);
}

.SelectOptions.open {
  opacity: 1;
  cursor: pointer;
  background: var(--first-color);
  border: 1px solid var(--first-color);
}

.SelectOptions .option {
  padding: 6px 8px 5px;
  outline-color: var(--first-color);
  transition: background-color 0.2s ease-in-out;
}

.SelectOptions .option:hover,
.SelectOptions .option:focus,
.SelectOptions .option:active {
  background-color: var(--first-color-light);
  color: var(--first-color);
}

.SelectOptions .option.selected {
  background-color: var(--first-color);
  color: #81a1c1;
}

.SelectOptions::-webkit-scrollbar {
  background: var(--container-color);
}

.SelectOptions::-webkit-scrollbar-track {
  border-radius: 4px;
}

.SelectOptions::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--first-color);
}
