.modalContainer {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.headerList {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	.button {
			font-family: var(--body-font);
			margin-right: 15px;
			font-size: 0.8rem;
			font-weight: 600;
			letter-spacing: -0.1;
			line-height: 1rem;
			text-align: center;
			width: 8rem;
			height: 2rem;
			border-width: 0;
			border-style: none;
			border-image: none;
			border-radius: 0.4rem;
			border-color: transparent;
			outline-style: none;
			align-items: center;
			background-color: #58555e;
			color: #ffffff;
	}

	.button:hover {
			background-color: var(--first-color);
			box-shadow: 0 0.1rem 1.25rem 0 var(--first-color);;
			color: #ffffff;
	}
}