@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');

* {
	font-family: 'Source Sans Pro', sans-serif;
}

html,
body,
button,
input,
optgroup,
select,
textarea {
  background-color: #f9fafc;
  font-size: 1rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}