// .App {
//   font-family: sans-serif;
//   text-align: center;
// }
.btnSingleDelete {
  font-size: 39px;
  background: none;
  border: none;
  height: 50px;
  padding: 0;
  width: 50px;
  line-height: 30px;
  color: red;
  margin-top: -9px;
}
