
.dashboard {
	height: 100%;
	width: 98%;
	overflow: hidden;

	.header {
		position: absolute;
		top: 0;
		left: 0;
		background-color: white;
		padding: 1rem;
		display: flex;
		align-items: center;
		height: 60px;
		box-shadow: 0 5px 25px rgb(57 108 225 / 12%);
		justify-content: space-between;
		font-family: Arial, Helvetica, sans-serif;
		width: -webkit-fill-available;

		span {
			font-size: 16px;
			color: black;
			font-weight: 600;
		}
	}

	.body {
		position: absolute;
		top: 150px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		left: 0;
		width: 98%;
		padding: 1rem;

		.table {
			width: 99%;
		}

		.widget {
			display: flex;
			width: 100%;
			height: 100%;
			gap: 16px;
			margin-top: 2rem;
			flex-direction: column;

			.time {
				font-weight: bold;
				text-decoration: underline;
			}
			
			.widgets {
				display: flex;
				justify-content: center;
				flex-direction: row;
			}
		}
	}
}