.stepContainer {
	width: 56.25rem;
	height: 80%;
	background-color: white;
	padding: 2rem;
	display: flex;
	flex-direction: column;

	.stepHeader {
		height: 20%;

		.MuiStepIcon-root.MuiStepIcon-completed {
			color: var(--first-color);
		}
		.MuiStepIcon-root.MuiStepIcon-active {
			color: var(--first-color);
		}
	}
	.stepContents {
		height: 100%;
		display: flex;
    justify-content: center;
    align-items: center;
	}
	.stepFooter {
		height:	20%;
		display: flex;
    justify-content: center;
    align-items: center;
		flex-direction: column;

		.MuiButton-containedPrimary {
			color: #fff;
			background-color: var(--first-color);
		}
	}
}
.closeButton {
	float: right;
}