@import "../../../../configuration/sass/colors";
@import "../../../../configuration/sass/fonts";

.simpleContainer {
  min-width: 20rem;
  max-width: 20rem;
  background-color: $ui-White;
  box-shadow: 0 0.125rem 0.5rem rgba(90, 97, 105, 0.18);
  border-radius: 0.25rem;
  height: 12.938rem;

  .simpleFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.75rem;

    .simpleCustomFilter {
        width: 19rem;
        height: 2.5rem;
        border: 0.063rem solid $ui-Grey1;
        box-sizing: border-box;
        border-radius: 0.25rem;
        margin: 0.188rem;
        padding: 0.75rem;
        outline: none;
        font-family: $typography;
        font-style: normal;
        font-weight: normal;
        font-size: 0.813;
        line-height: 1rem;
    }
  }

  .filterContainer {
    display: flex;
    flex-direction: column;
    height: 5.313rem;
    overflow-y: scroll;

    .wrapper {
      border-radius: 0.125rem;
      background-color: $ui-Blue;
      width: max-content;
      height: max-content;
      max-width: 18.938rem;
      display: flex;

      .wrapperText {
        display: flex;
        justify-content: center;
        flex-flow: row;
        align-items: center;
        margin: 0.25rem;
        align-self: center;

        .text {
          font-family: $typography;
          font-style: normal;
          font-weight: 600;
          font-size: 0.875rem;
          line-height: 1.125rem;
          color: $ui-primary;
          overflow-wrap: anywhere;
          }

        .icon {
          color: $ui-primary;
        }
      }
    }
  }

  .buttonContainer {
    height: 3.875rem;
    background-color: $ui-White2;
    border-radius: 0.25rem;
    border-top: 0.063rem solid $ui-Grey2;

    .clearButton {
      margin: 0.75rem 0.5rem 0.625rem 0.5rem;
      position: absolute;
      width: 18.938rem;
      height: 2.5rem;
      background: $ui-White;
      border: 0.063rem solid $ui-primary;
      box-sizing: border-box;
      border-radius: 0.25rem;
      text-align: center;
    }
  }
}

.filterContainer::-webkit-scrollbar {
  -webkit-appearance: none;
}

.filterContainer::-webkit-scrollbar:vertical {
  width: 0.625rem;
}
