.colorsPicker {
	display: flex;
	justify-content: center;

	.HeaderPicker {
		display: flex;
    border-radius: 11px;
    flex-direction: column;
		padding: 1rem;
		margin-left: 2rem;

		span {
			padding-bottom: 1rem;
		}
	}
	.TextPicker {
		display: flex;
    border-radius: 11px;
    flex-direction: column;
    padding: 1rem 4rem 0 4rem;

		span {
			padding-bottom: 1rem;
		}
	}
}

.colorsPickerFooter {
	height: 10%;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;

	.button {
		font-family: var(--body-font);
		margin-right: 15px;
		font-size: 0.8rem;
		font-weight: 600;
		letter-spacing: -0.1;
		line-height: 1rem;
		text-align: center;
		width: 100%;
		height: 2rem;
		border-width: 0;
		border-style: none;
		border-image: none;
		border-radius: 0.4rem;
		border-color: transparent;
		outline-style: none;
		align-items: center;
		background-color: #58555e;
		color: #ffffff;
	}

	.button:hover {
			background-color: var(--first-color);
			box-shadow: 0 0.1rem 1.25rem 0 var(--first-color);;
			color: #ffffff;
	}
}
